@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Poppins;
}

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
}

/* ------------------ Nav Bar ------------------ */

.navbar{
  background-color: rgba(0,0,0,0);
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}

.sticky{
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
}

.navbar-brand{
  color: #000;
  font-size: 25px;
}

.nav-item .nav-link{
  color: #000 !important;
}

.sticky .navbar-brand,
.sticky .nav-item .nav-link{
 color: white !important;
}
.form-inline{
  position: absolute;
  float: right;
  right: 10px;
}


.container{
padding: 0;
}

/* ------------------ Top Main Carousel ------------------ */

.main__top__carousel{
  /* margin-top: 3em !important; */
  width: 100% !important;
  /* justify-content: center; */
  overflow-x: hidden;

}
/* 
.main__top__carousel__item{

} */

.top__carousel__prev__btn,
.top__carousel__next__btn{
  width: 50px;
  color: #000 ;
  border: none;
  background: none;
  height: 100px;
  top: 40%;
  font-size: 20px;
}




/*  ------------------ Carousel Slide Bar------------------*/
.carousel-indicators{
  z-index: 0;
  position: relative;
  margin: 10px;
  top: 100%;
  color: black;
  /* background-color: blue; */
}
.carousel_indicator_bar.active {
  background-color: green;
}

/* -------------------------------------------------- */
.categories__main__heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}
.categories__main__heading .view__more__button{
  height: 100%;
  /* position: relative;
  right: -35%; */
  float: right !important;
}
.categories__main__heading .category__heading{
  font-size: 25px;
  font-weight: 500;
  line-height : 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 30px;
}

.row{
  width: 100%;
}
/* ------------------ Carousel Main ------------------ */
.carousel-inner{
  width: 110%;
}

.carousel__main{
  width: 120%;
  margin: 30px;
  margin-top: 0;
}
/* ------------------carousel Items------------------ */
.carousel-item{
  display: none;
  transition: all 0.3s ease-in-out;
}
.carousel-item.active{
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 95%;

}

/* ------------------ Product card ------------------ */
.product__card{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 0 5px;
  border-radius: 20px;
}

.product__image__div{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
/* todo: ================================== */
.image__box{
display: grid;
place-items: center;
min-height: 150px;
  max-width: 120px ;
  max-height: 150px;

}

.image__box img{

    max-width: 120px ;
    max-height: 140px;
}
/*.product__image{
  max-width: 120px ;
  max-height: 140px;
  align-self: center;
}
*/
.product__body{
  width: 100%;
}

.product__body h5{
  padding: 1rem 0;
}

.product__body p{
  padding: 0.5rem;
}

.card__buttons__div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view__product{
  width: 50%;
  height: 50%;
  font-weight: 700;
  margin-left: 10px;
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
}

.add__cart{
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  /* height: 10%; */
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
  bottom: 0;
}

.add__cart:focus{
  outline: none;
}



/* ------------------ Carousal Controls ------------------ */


.container .row .carousel-control-prev ,
.container .row .carousel-control-next {
  position: relative;
  width: 50px;
  top:-10%;
  left: 93%;
  text-align: center;
}

.container .row .carousel-control-prev{
  left: 93%;
}

.container .row .carousel-control-next{
  right: -5%;
}


.next__icon,
.prev__icon{
  height: 40px;
  width: 40px;
  font-size: 30px;
  color: black;
  margin: 0 5px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--blue);
}

.next__icon:hover,
.prev__icon:hover{
  color: black;
  border: none;
  background-color: var(--gray);
}


/* todo:======================================== CART SECTION ===============================================*/

body{
    min-height: 100vh;
    /*background-attachment: fixed; */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:var(--dark-blue);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    background-color: #F1F3F6;
}

.cart__container{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100% !important;
}


/* ================================================================ */
.main__content{
    width: 59%;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.main_content_heading{
    width:100%;
    display: flex;
    align-items: center;

}

.main_content_heading .heading{
    font-size: 25px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;
}
.content{
    border: 1px  solid #f0f0f0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}


.product__section{
    margin-top: 20px;
}


.product__img{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.product__details{
    width: 80%;
    padding-left: 10px;
}

.product__img .img__box{
    max-width: 112px;
    max-height: 112px;

}

.product__img .img__box img{
    max-width: 112px;
    max-height: 112px;

}

.product__name{
    font-size: 22px;
    line-height: 1;
    display: inline;
}

.product__category{
    font-size:16px ;
    color: #878787;
    height: 20px;
    white-space: nowrap;
}

.product__price{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
}

.products__buttons,
.sflrp__button,
.buttons_{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.buttons_{
    margin-left: 5px;
}
.minus__button,
.plus__button{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: grid;
    place-items: center;
    border: 2px solid #c2c2c2;
    font-size: 25px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
    text-decoration: none;
    color: #000;
}

.minus__button:hover,
.plus__button:hover{
    text-decoration: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  border-color: #e0e0e0;
  color: #c2c2c2;

}

.product_count{
    display: inline-block;
    padding: 1px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}

.product_count input{
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.sflrp__button{
    margin: 10px;
    padding: 10px;

}

.sfl_button,
.rp_button{
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    box-shadow: none;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
}
.sfl_button:hover,
.rp_button:hover{
    color:blue;
}

.place__order{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.place__order__btn{
    text-transform: uppercase;
    background-color: #fb641b;
    letter-spacing: 0;
    min-width:250px;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding: 16px 30px;
    margin: 20px;
}

/* ================================================================= */

.sub__content{
    width: 40%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    padding: 10px;
}

.sub_main_content_heading{
    color: #878787;
    text-transform: uppercase;
    display: block;
    padding: 13px 24px;
    font-weight: 500;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid;
    border-width: 100%;
    border-color: #878787;
}
.sub__content_row{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400
}

.total__content{
    font-weight: 500;
    border-top: 2px solid;
}

.delivery__price{
    text-transform: uppercase;
    color: #388e3c;
}


/* ================================================================= */
